{{ block "header" . }}
    <div class="header">
        <span>Home</span>
        <button
            type="button"
            class="new-post-button"
            hx-get="/new-post"
            hx-trigger="click"
            hx-target="body"
            hx-swap="innerHTML"
        >New Tweet</button>
    </div>
{{ end }}
{{ block "new-post-header" . }}
    <div class="header">
        <span>Create Post</span>
        <button
            type="button"
            id="cancel-button"
            hx-get="/"
            hx-trigger="click"
            hx-target="body"
        >X</button>
    </div>
{{ end }}
