{{ block "index" .}}
<!doctype html>
<html>
    <head>
        <title>Twitter</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <script
            src="https://unpkg.com/htmx.org@1.9.12"
            integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2"
            crossorigin="anonymous"
        ></script>
    </head>
    <body>
        {{ template "home" . }}
    </body>
</html>
{{ end }}
