{{ block "new-post" .}}
<div id="page">
  {{ template "new-post-header"}}
  <div id="content">
    {{ template "flash" .}}
    <form
      class="new-tweet"
      hx-post="/new-post"
      hx-trigger="submit"
      hx-target="body"
      hx-swap="innerHTML"
    >
      <label for="tweet"></label>
      <textarea
        id="new-tweet"
        name="tweet"
        placeholder="Enter tweet here..."
        required
        autofocus
      ></textarea>
      <button type="submit">Post</button>
    </form>
  </div>
</div>
{{ end }}
