{{ block "tweets" . }}
<div id="tweet-{{ .Id }}"
     class="tweet"
     hx-get="/expand/{{ .Id }}"
     hx-trigger="dblclick"
     hx-target="#content"
     title="Double click to expand"
>
    <div class="tweet-header">
        <div class="tweet-author">
            <!-- can use this to link to profiles once it set up -->
            <!-- <a href="/profile/ .Author">.Author </a> -->
            <span>{{ .Author }}</span>
        </div>
        <div class="tweet-date">
            <span>{{ .GetDate }}</span>
        </div>
    </div>
    <div class="tweet-content">
        <p>{{ .Content }}</p>
    </div>
    <div class="tweet-footer">
        <div class="interactions">
{{/*            TODO: Bind Session user id to this data.*/}}
            {{ if .IsLiked 6 }}
                {{ template "liked" . }}
            {{ else }}
                {{ template "unliked" . }}
            {{ end }}
            {{ if .IsInteresting 6 }}
                {{ template "interesting" . }}
            {{ else }}
                {{ template "uninteresting" . }}
            {{ end }}
            {{ if .IsFavorited 6 }}
                {{ template "favorited" . }}
            {{ else }}
                {{ template "unfavorited" . }}
            {{ end }}
        </div>
        {{ if .IsSessionUsersTweet .Id 6 }}
            <div
                hx-delete="/delete/{{ .Id }}"
                hx-swap="delete"
                hx-target="#tweet-{{ .Id }}"
                class="delete tweet-footer-button"
                title="Delete"
            >
            <svg xmlns="http://www.w3.org/2000/svg"
                 height="24px"
                 viewBox="0 -960 960 960"
                 width="24px" fill="#e8eaed"><path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"/></svg>
            </div>
        {{ end }}
    </div>
</div>
{{ end }}

{{ block "liked" . }}
    <div class="like tweet-footer-button liked"
            hx-delete="/unlike/{{ .Id }}"
            hx-swap="outerHTML"
            title="Unlike"
    >
        <svg xmlns="http://www.w3.org/2000/svg"
             height="24px"
             viewBox="0 -960 960 960"
             width="24px"
             fill="#e8eaed">
            <path d="M720-120H280v-520l280-280 50 50q7 7 11.5 19t4.5 23v14l-44 174h258q32 0 56 24t24 56v80q0 7-2 15t-4 15L794-168q-9 20-30 34t-44 14Zm-360-80h360l120-280v-80H480l54-220-174 174v406Zm0-406v406-406Zm-80-34v80H160v360h120v80H80v-520h200Z"/></svg>
    </div>
{{ end }}

{{ block "unliked" . }}
    <div class="like tweet-footer-button unliked"
         hx-post="/like/{{ .Id }}"
         hx-swap="outerHTML"
         title="Like"
    >
        <svg xmlns="http://www.w3.org/2000/svg"
             height="24px"
             viewBox="0 -960 960 960"
             width="24px"
             fill="#e8eaed">
            <path d="M720-120H280v-520l280-280 50 50q7 7 11.5 19t4.5 23v14l-44 174h258q32 0 56 24t24 56v80q0 7-2 15t-4 15L794-168q-9 20-30 34t-44 14Zm-360-80h360l120-280v-80H480l54-220-174 174v406Zm0-406v406-406Zm-80-34v80H160v360h120v80H80v-520h200Z"/></svg>
    </div>
{{ end }}

{{ block "interesting" . }}
    <div class="mark-interesting tweet-footer-button interesting"
         hx-delete="/uninteresting/{{ .Id }}"
         hx-swap="outerHTML"
         title="Unmark as interesting"
    >
        <svg xmlns="http://www.w3.org/2000/svg"
             height="24px"
             viewBox="0 -960 960 960"
             width="24px" fill="#e8eaed">
            <path d="M480-120q-33 0-56.5-23.5T400-200q0-33 23.5-56.5T480-280q33 0 56.5 23.5T560-200q0 33-23.5 56.5T480-120Zm-80-240v-480h160v480H400Z"/></svg>
    </div>
{{ end }}

{{ block "uninteresting" . }}
<div class="mark-interesting tweet-footer-button uninteresting"
        hx-post="/interesting/{{ .Id }}"
        hx-swap="outerHTML"
        title="Mark as interesting"
>
    <svg xmlns="http://www.w3.org/2000/svg"
         height="24px"
         viewBox="0 -960 960 960"
         width="24px" fill="#e8eaed">
        <path d="M480-120q-33 0-56.5-23.5T400-200q0-33 23.5-56.5T480-280q33 0 56.5 23.5T560-200q0 33-23.5 56.5T480-120Zm-80-240v-480h160v480H400Z"/></svg>
</div>
{{ end }}

{{ block "favorited" . }}
    <div class="favorite tweet-footer-button favorited"
            hx-delete="/unfavorite/{{ .Id }}"
            hx-swap="outerHTML"
            title="Unfavorite"
    >
        <svg xmlns="http://www.w3.org/2000/svg"
             height="24px"
             viewBox="0 -960 960 960"
             width="24px"
             fill="#e8eaed">
            <path d="M200-120v-640q0-33 23.5-56.5T280-840h400q33 0 56.5 23.5T760-760v640L480-240 200-120Zm80-122 200-86 200 86v-518H280v518Zm0-518h400-400Z"/></svg>
    </div>
{{ end }}

{{ block "unfavorited" . }}
    <div class="favorite tweet-footer-button unfavorited"
            hx-post="/favorite/{{ .Id }}"
            hx-swap="outerHTML"
             title="Favorite"
    >
        <svg xmlns="http://www.w3.org/2000/svg"
             height="24px"
             viewBox="0 -960 960 960"
             width="24px"
             fill="#e8eaed">
            <path d="M200-120v-640q0-33 23.5-56.5T280-840h400q33 0 56.5 23.5T760-760v640L480-240 200-120Zm80-122 200-86 200 86v-518H280v518Zm0-518h400-400Z"/></svg>
    </div>
{{ end }}
