/*Style variables*/
:root {
    --dark-blue: #1a1a2e;
    --gray-blue: #37374a;
    --light-blue: #66aadd;
    --accent-orange: #ffa366;
    --white: #ffffff;
}

/* general style */
* {
    font-family: "Fira Sans", sans-serif;
    background-color: var(--dark-blue);
    color: var(--white);
}

body {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 66%;
    background-color: var(--gray-blue);
    margin-left: auto;
    margin-right: auto;
}

.tweet {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    width: 90%;
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
}

.tweet-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.tweet-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
