/*Style variables*/
:root {
    --dark-blue: #1a1a2e;
    --gray-blue: #37374a;
    --light-blue: #66aadd;
    --accent-orange: #ffa366;
    --white: #ffffff;
}

/* general style */
* {
    font-family: "Fira Sans", sans-serif;
    background-color: var(--dark-blue);
    color: var(--white);
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: row;
    align-items: center;

}

#page {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 10rem;
    padding: 20px;
    background-color: var(--gray-blue);
    font-size: 1.5rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 50%;
    background-color: var(--gray-blue);
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 50px; */
}

.tweet {
    display: flex;
    flex-direction: column;
    /*align-items: flex-start;*/
    justify-content: center;
    width: 90%;
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
}

.tweet-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.tweet-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
